html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  background-color: #758c78;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


