:root {
  --primary-background-green: #758c78;
  --primary-text-black: black;
  --primary-button-brown: #8d5b53;
  --primary-book-brown: #291f17;

  --button-hover-brown: #9b675e;
}

@font-face {
    font-family: byteFont;
    src: url("../ByteBounce.ttf");
}

* {
  font-family: byteFont;
}

