

.book img {
    height: 90vh;
    width: auto;
    object-fit: contain;
}


#bookContainer {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.page {
    background-size: contain;
    background-repeat: no-repeat;
    height: 90vh;
    aspect-ratio: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

.pageContent {
    flex: 8;
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.pageContent h1 {
    font-size: 300%;
}

.pageContent p {
    font-size: 150%;
}

.navigation {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 15%;
    padding-top: 5%;
}

#left-page {
    background-image: url("./assets/page-left.png");
    background-position: right;
}

#right-page {
    background-image: url("./assets/page-right.png");
    background-position: left;
}

.tab {
    width: 80%;
    height: 50px;
    background-image: url("./assets/button-inactive.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.tab:hover {
    background-image: url("./assets/button-hover.png");
}

.tabImage {
    width: 40px !important;
    height: 40px !important;
    margin-top: 5px;
    object-fit: contain;
}

